# 함수

In [ ]:
def 부지매입():
    pass

def 설계도면작성():
    pass

def 인력모집():
    pass

def 벽돌쌓기():
    pass

def 지붕올리기():
    pass

부지매입()
설계도면작성()
인력모집()
벽돌쌓기()
지붕올리기()

In [ ]:
# 파선아실 # 파라미터는 선언할 때, 아규먼트는 실행할 때
# function은 변수 / x,y는 파라미터 / 5,7 값은 아규먼트

def function(x,y):
    z = x + y
    return z
print("function(5,7) = ", function(5,7))

function(5,7) =  12

In [ ]:
# 위 코드와 같은 코드1

def function(x, y):
    z = x + y
    return z
print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = 12

In [ ]:
def function(x, y):
    z = x + y
    return None

print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = None

In [ ]:
# 전혀 다른 코드
# print와 return은 다릅니다!

def function(x, y):
    z = x + y
    print(None)
    # return None가 생략되어 있음.

print(f'function(5, 7) = {function(5, 7)}')
# return None이 함수 마지막에 생략되어 있다. (작성을 안 했기 때문에)
# 그래서 아래 결과를 출력하면 12가 출력되는 것이 아니라 None이 출력된다.
# return은 함수가 있던 자리 즉, fuction(5,7)에 값을 넣어주는 것이고
# print는 그냥 중간에 출력해주는 것 뿐이고 return과는 관련이 없다.

12
function(5, 7) = None

In [ ]:
def function():
    print('hello')
    print('hello')
    print('hello')
    print('hello')

function()
print(function()) # 마지막에 None이 들어감

hello
hello
hello
hello
hello
hello
hello
hello
None

In [ ]:
def function(x, y):
    print('hello')
    print('hello')
    print('hello')
    print('hello')
    return x + y

x = function(1, 1)
print(x + x)

hello
hello
hello
hello
4

In [ ]:
# 함수 안에 있는 변수나 함수는 함수가 끝나면 휘발됩니다. 메모리에서 사라져요.

def f2(x, y):
    def f1(x):
      print('world1')
      return x + x
    print('hello1')
    z = f1(10)
    return x + y + z


# a = f1(1) # 함수 안에 이쓴 함수는 밖에서 호출할 수 없습니다.
b = f2(3, 4)
print(b)

# print(z) # 함수가 끝났기 때문에 x, y, z에 접근할 수 없습니다.

hello1
world1
27

In [ ]:
# 1
# 밖에 주어진 x = 100의 x와 함수 plusX의 파라미터 x는 서로 다른 x로 다른 공간에서 정의된다.
# 따라서 함수의 x는 휘발되므로 plusX(10)에서 사용되어 110을 반환하고 사라진다.

x = 100
def plusX(x):
  x = x + 100
  return x

print(plusX(10))

110

In [ ]:
# 2
x = 100
def plusX(z):
  z = z + x
  return z

print(plusX(10))

In [ ]:
# 3
# 문제가 생기는 코드

x = 100
def plusX(z):
  x = z + x     # 함수에서는 외부에 있는 변수를 읽어올 순 있지만, 수정할 수는 없다.
  return z      # 따라서 x = 으로 정의를 내리고 시작하면, 수정하는 것이기 때문에 오류 발생.

print(plusX(10))

In [ ]:
# 4
# 변수를 외부에서 가져와 수정할 수 있는 방법
# global : 지역변수를 전역변수로 만드는 방법

x = 100
def plusX(z):
  global x      # 권하지 않습니다. 사용하지 않기를 바랍니다.
  z = z + x     # 이유는 전역변수가 지역으로 끌려와서 공동작업을 할 때 혼동이 발생할 수 있다.
  return z      # 추가로 global로 지역변수를 전역변수로 만들 수 있다.

print(plusX(10))

In [ ]:
# 5
# 아래와 같이 지역변수를 이용한다는 것을 알려줘야 다른 사람들도 사용할 수 있다.

x = 100
def plusX(x):
    return x + 10

x = plusX(x)

In [ ]:
x = 100
def plusX(z):
  # v가 x를 가리키게 되었기 때문에 수정할 수 있는 권한이 들어오지 않았을까?
  # No
  v = x
  x = z + x
  return z

plusX(10)

In [ ]:
# 현재 print는 지역변수라 외부의 print는 기존의 기능을 가짐

def changePrint():
  print = 100
  return print

changePrint()

100

In [ ]:
# print = 100 # 전역변수 print를 실행하면 기존의 print 기능을 잃어 사용할 수 없게 됨.
# print

100

## 재귀함수

In [ ]:
# 효울이 매우 좋지 않다. 다만, 메모라이징 기법을 사용하면 좋다.
# 그러나 대부분의 코드는 for로 대체할 수 있다.
# 다이나믹 프로그래밍 등 재귀함수가 필수적으로 사용되는 곳이 있기도 하다.
# 즉, 재귀함수보다는 for을 사용하는게 좋다.
# 아마 데이터 분석가는 재귀함수를 거의 사용하지 않는 것 같다.

In [ ]:
#sys.setrecursionlimit -> 제한을 늘릴 수 있음
# def 숫자출력():
#     print(1)
#     return 숫자출력()
# 숫자출력()

# 실행시키면 무한지옥에 빠지니 실행시키지 말 것.

In [ ]:
# 팩토리얼 재귀함수
# 이정도는 기억하면 좋음.

def factorial(n):
    if n == 1:
      return n
    return n * factorial(n-1)

factorial(5)

#                      return 값
# factorial(5) == 5 * factorial(4) == 5 * 24 == 120
# factorial(4) == 4 * factorial(3) == 4 * 6 == 24
# factorial(3) == 3 * factorial(2) == 3 * 2 == 6
# factorial(2) == 2 * factorial(1) == 2 * 1 == 2
# factorial(1) == 1

# 순서가 return 값을 받아서 factorial(1) == 1을 최종적으로 구한 다음에 위 식에 다시
# 2, 6, 24, 120 값을 차례대로 계산하여 출력하기 때문에 아래로 내려갔다 위로 다시 올라가는
# 긴 여정 때문에 메모리가 매우 많이 소모된다. 그래서 잘 사용하지 않는다.

120

In [ ]:
result = 1
for i in range(1, 6):
    result *= i

result

120

In [ ]:
def string_reverse(s):
    if len(s) == 1:     # 얼리리턴(코드가 매우 길면 가능하면 앞에서 리턴하는 것이 효율적)
        return s
    return string_reverse(s[1:]) + s[0]

string_reverse('hello')

# string_reverse('hello') == string_reverse('ello') + 'h'   == 'olle' + 'h' == 'ollleh'
# string_reverse('ello') == string_reverse('llo') + 'e'     == 'oll' + 'e' == 'ollle'
# string_reverse('llo') == string_reverse('lo') + 'l'       == 'ol' + 'l' == 'oll'
# string_reverse('lo') == string_reverse('o') + 'l'         == 'o' + 'l' == 'ol'
# string_reverse('o') == 'o'

# 이 상황에서 다시 반대 순서로 돌아가면서 string_reverse('o') == 'o'를 위에 대입하면서
# 글자의 순서가 반대로 입력된다.

'olleh'

In [ ]:
s = 'leehojun'
result1 = ''
result2 = ''

for i in s:
    result1 = i + result1
    result2 = result2 + i     # 순서에 따라 출력되는 결과으 순서가 달라진다.

result1, result2

('nujoheel', 'leehojun')

In [ ]:
s = 'leehojun'
result = ''
for i in s:
    print('----------')
    print(i)
    print(f'연산 전 result : {result}')
    result = i + result
    print(f'연산 후 result : {result}')

result

In [ ]:
# 재귀가 얼마나 비효율적인지 보여주는 사례

def fib(num):
    if num == 0:
        return 0
    if num == 1 or num == 2:
        return 1
    else:
        return fib(num-1) + fib(num-2)

fib(35)

9227465

In [ ]:
from functools import lru_cache

@lru_cache(maxsize=None)
def fib(num):
    if num == 0:
        return 0
    if num == 1 or num == 2:
        return 1
    else:
        return fib(num-1) + fib(num-2)

fib(40)

102334155

## 연습문제

In [ ]:
# 1
I
love
python

# 2
def plus(num1, num2):
    return num1 + num2

def minus(num1, num2):
    return num1 - num2

def multiply(num1, num2):
    return num1 * num2

def divide(num1, num2):
    return num1 / num2

print('plus : ',plus(10,5))
print('minus : ',minus(10,5))
print('multiply : ',multiply(10,5))
print('divide : ',divide(10,5))

# 3
x의 n제곱을 구하는 함수를 만들어주세요.
재귀함수를 이용하여 만들어야하며, x는 0이 아닙니다.

y = 1
def xn(x, n):
    x = x * x
    if n != 1:
        xn(x, n-1)
    else:
        return x

In [75]:
def plus(num1, num2):
    try:
        result = int(num1) + int(num2)
        return result
    except:
        return '연산할 수 없습니다.'

print(f'plus : {plus(10, 5)}')
print(f'plus : {plus("10", "5")}')
print(f'plus : {plus("10", 5)}')
print(f'plus : {plus(10, "5")}')
print(f'plus : {plus("abc", 5)}')
print(f'plus : {plus(10, "abc")}')

plus : 15
plus : 15
plus : 15
plus : 15
plus : 연산할 수 없습니다.
plus : 연산할 수 없습니다.

In [77]:
def plus(num1, num2):
    try:
        result = int(num1) + int(num2)
        return result
    except:
        return float("inf")

print(f'plus : {plus(10, 5)}')
print(f'plus : {plus("10", "5")}')
print(f'plus : {plus("10", 5)}')
print(f'plus : {plus(10, "5")}')
print(f'plus : {plus("abc", 5)}')
print(f'plus : {plus(10, "abc")}')

plus : 15
plus : 15
plus : 15
plus : 15
plus : inf
plus : inf

In [76]:
float("inf") > 1000000000000000000000   # float('inf')는 모든 수보다 크다.

True

In [80]:
plus = lambda x, y: x + y
minus = lambda x, y: x - y
multiply = lambda x, y: x * y
divide = lambda x, y: x / y

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

plus : 15
minus : 5
multiply : 50
divide : 2.0

In [114]:
def 제곱(x,n):
    if n == 0:
        return 1
    return x * 제곱(x,n-1)

제곱(2,3)

8

In [110]:
# factory 함수
# 클로저

def factory(x):
    def 승수(n):
        return x ** n       # 휘발됐어야 할 x의 값이 살아있다.
    return 승수             # 함수의 이름을 불러올 수 있다.

제곱3 = factory(3)

# 실제 제곱3는 아래와 같습니다.

# def 승수(n):
#        return 3 ** n

제곱4 = factory(4)

제곱3(2)
제곱3(3)
제곱4(2)
제곱4(3)

64

## 리스트

* 순서가 있는 데이터입니다.
* 값의 수정이 가능합니다.

In [115]:
ㅣ = [10, 20, 30, 40]

In [116]:
ㅣ[0]

10

In [117]:
ㅣ[0] = 1000
ㅣ # mutable한 객체{수정이 가능한 객체} <-> immutable한 객체(문자열){수정이 불가능한 객체}

[1000, 20, 30, 40]

In [118]:
s = 'hello'
s[0] = 'k' # error! immutable한 객체

TypeError: ignored

In [128]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]    # 행렬

data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [129]:
data[0]

[1, 2, 3]

In [130]:
data[0][0]

1

In [131]:
data[0][0] = data[0][0] * 2
data

[[2, 2, 3], [4, 5, 6], [7, 8, 9]]

In [133]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
data[0][0] = data[0][0] * 2
data[0][1] = data[0][1] * 2
data[0][2] = data[0][2] * 2
data[1][0] = data[1][0] * 2
data[1][1] = data[1][1] * 2
data[1][2] = data[1][2] * 2
data[2][0] = data[2][0] * 2
data[2][1] = data[2][1] * 2
data[2][2] = data[2][2] * 2
data

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

In [134]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for i in range(3):
    data[i][0] = data[i][0] * 2
    data[i][1] = data[i][1] * 2
    data[i][2] = data[i][2] * 2
data

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

In [122]:
for i in range(len(data)):
    for j in range(len(data[1])):
        data[i][j] *= 2

data

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

In [135]:
#data[start:stop:step]
data = [10, 20, 30, 40, 50, 60, 70]
data[1:]
data[1:-1]
data[::2]   # 모자이크의 원리, step은 실무에서 잘 사용히지는 않음
data[:] # 매우 중요!!, 전체 선택, 전체선택이지만, 원본하고 다른 값이 된다!!

[10, 30, 50, 70]

In [136]:
# data2와 data는 다른 값이 된다. 원본을 남기고 수정 가능!!

data = [10, 20, 30, 40, 50, 60, 70]
data2 = data[:]
data2[0] = 100
data2, data

([100, 20, 30, 40, 50, 60, 70], [10, 20, 30, 40, 50, 60, 70])

### 리스트의 사칙연산

In [138]:
[1,2,3] + [1,2,3]

[1, 2, 3, 1, 2, 3]

In [139]:
[1,2,3] * 2

[1, 2, 3, 1, 2, 3]

In [141]:
x = [[[10]*3]*3]*4  # 이렇게 많이 만들면 메모리를 공유하게 된다.
x

[[[10, 10, 10], [10, 10, 10], [10, 10, 10]],
 [[10, 10, 10], [10, 10, 10], [10, 10, 10]],
 [[10, 10, 10], [10, 10, 10], [10, 10, 10]],
 [[10, 10, 10], [10, 10, 10], [10, 10, 10]]]

In [143]:
x[0][0][0] = 100    # 아래와 같이 100이 전부 다 들어간다.
x

[[[100, 10, 10], [100, 10, 10], [100, 10, 10]],
 [[100, 10, 10], [100, 10, 10], [100, 10, 10]],
 [[100, 10, 10], [100, 10, 10], [100, 10, 10]],
 [[100, 10, 10], [100, 10, 10], [100, 10, 10]]]

In [145]:
id(x[0][0]), id(x[0][1])    # x[0][0]은 첫번째에 있는 3개인데 그 옆에 3개와 같은 주소를 가진다.

(139833405230416, 139833405230416)

In [146]:
# 얕은 곱하기는 메모리를 복사하지 않는다.
x = [1,2,3] * 2
x[0] = 1000
x

[1000, 2, 3, 1, 2, 3]

In [147]:
# 인덱스가 하나만 많아져도 메모리를 공유한다..!

x = [[1,2,3]*2] * 2
x[0][0] = 1000
x

[[1000, 2, 3, 1, 2, 3], [1000, 2, 3, 1, 2, 3]]

In [149]:
l = [10, 20, 30, 40]
type(l), dir(l)

(list,
 ['__add__',
  '__class__',
  '__class_getitem__',
  '__contains__',
  '__delattr__',
  '__delitem__',
  '__dir__',
  '__doc__',
  '__eq__',
  '__format__',
  '__ge__',
  '__getattribute__',
  '__getitem__',
  '__gt__',
  '__hash__',
  '__iadd__',
  '__imul__',
  '__init__',
  '__init_subclass__',
  '__iter__',
  '__le__',
  '__len__',
  '__lt__',
  '__mul__',
  '__ne__',
  '__new__',
  '__reduce__',
  '__reduce_ex__',
  '__repr__',
  '__reversed__',
  '__rmul__',
  '__setattr__',
  '__setitem__',
  '__sizeof__',
  '__str__',
  '__subclasshook__',
  'append',
  'clear',
  'copy',
  'count',
  'extend',
  'index',
  'insert',
  'pop',
  'remove',
  'reverse',
  'sort'])

In [ ]:
# 'append','clear','copy','count','extend',
# 'index','insert','pop','remove','reverse','sort'

In [153]:
l = [10, 20, 30, 40]
l.append(50)    # 50이 리스트 뒤에 추가됨.
l

[10, 20, 30, 40, 50]

In [154]:
l = [10, 20, 30, 40]
l.pop()     # 맨 뒤에 있는 값을 제거함.
l

[10, 20, 30]

In [156]:
l = [10, 20, 30, 40]
l.pop(0)     # 매우 중요!!, 맨 앞에 있는 값을 제거함
l

[20, 30, 40]

In [157]:
l = [10, 20, 30, 40]
l.clear()   # 모든 값 제거
l

[]

In [162]:
# .copy(메서드)는 [:](슬라이싱)이랑 같은 표현이지만, 
# 슬라이싱은 C로 구현되어 있어 속도가 통상 8배 정도 빠르다.

l = [10, 20, 30, 40]
data = l.copy()
data[0] = 1000
l, data

([10, 20, 30, 40], [1000, 20, 30, 40])

In [163]:
l = [10, 20, 30, 40, 10, 10, 10]
l.count(10)

4

In [166]:
l = [10, 20, 30, 40, 10, 10, 10]
l.extend([1,2,3,4,5])           # value로써 리스트에 추가됨.
l

[10, 20, 30, 40, 10, 10, 10, 1, 2, 3, 4, 5]

In [167]:
l = [10, 20, 30, 40, 10, 10, 10]
l.append([1,2,3,4,5])           # 리스트 안에 리스트로써 추가됨.
l

[10, 20, 30, 40, 10, 10, 10, [1, 2, 3, 4, 5]]

In [168]:
l = [10, 20, 30, 40, 10, 10, 10]
l.insert(2, 10000)              # 값이 넣어지면서 기존 값들은 오른쪽으로 밀린다.
l

[10, 20, 10000, 30, 40, 10, 10, 10]

In [169]:
l = [10, 20, 10000, 30, 40, 10, 10, 10]
l.index(10000)                  # 값의 위치를 알려준다.

2

In [171]:
l = [10, 20, 10000, 30, 40, 10, 10, 10]
l.remove(10)            # remove는 첫번째로 만난 값만 지운다.
l

[20, 10000, 30, 40, 10, 10, 10]

In [172]:
l = [10, 20, 10000, 30, 40, 10, 10, 10]
for i in range(l.count(10)):
    l.remove(10)
l
# 실무에서 사용하는 방법은 아님.

[20, 10000, 30, 40]

In [173]:
# 실무에서 많이 사용하는 코드입니다.
# 어떤 값을 찾아내거나, 조건에 맞는 코드를 추출할 때 사용

def 함수(x):
    return x != 10

l = [10, 20, 10000, 30, 40, 10, 10, 10]
list(filter(함수, l))   # list를 하는 이유는 메모리를 줄이기 위해서이다.

# 함수를 선언해서 하는 것도 실무에서 크게 사용하지 않는다.

[20, 10000, 30, 40]

In [174]:
# 이처럼 lambda를 활용하는 것이 직관적으로 보기도 쉽기에 실무에서 많이 사용한다.

l = [10, 20, 10000, 30, 40, 10, 10, 10]
list(filter(lambda x: x != 10, l))

[20, 10000, 30, 40]

In [177]:
# range도 예전에는 바로 리스트로 뽑아 줬지만, 값이 크면 메모리를 많이 잡아먹기 때문에
# 현재는 type이 ragne로 바뀌어서 뽑아주지 않는다.
# filter도 마찬가지로 메모리를 많이 잡아먹기 때문에 리스트로 뽑아주지 않고
# 아래와 같이 나온다. for을 통해 i로 값을 하나씩 뽑을 수 있고'
# 아니면 list()를 통해 리스트화 시켜주어야 한다.

filter(lambda x: x != 10, l)

In [184]:
l = [10, 20, 30, 10, 20, 30, 1, 2, 55, 11]
l.reverse() # l을 직접 만진다. 역 정렬이 아니다! 역순일 뿐이다!!!
l

[11, 55, 2, 1, 30, 20, 10, 30, 20, 10]

In [186]:
l = [10, 20, 30, 10, 20, 30, 1, 2, 55, 11]
reversed(l)     # l을 직접 만지지 않는다. 역 정렬이 아니다! 역순일 뿐이다!!!
l, list(reversed(l))    # print하면 이처럼 역순을 주기는 하지만, 
                        # 기본 자체는 list로 바로 주지 않기 때문에 print를 해야 한다.

([10, 20, 30, 10, 20, 30, 1, 2, 55, 11],
 [11, 55, 2, 1, 30, 20, 10, 30, 20, 10])

In [187]:
l = [10, 20, 30, 10, 20, 30, 1, 2, 55, 11]
l.sort()    # 작은 값부터 정렬
l

[1, 2, 10, 10, 11, 20, 20, 30, 30, 55]

In [188]:
l = [10, 20, 30, 10, 20, 30, 1, 2, 55, 11]
l.sort()        # 작은 값부터 정렬
l.reverse()     # sort와 reverse를 함께 사용해야 역정렬이 된다!
l

[55, 30, 30, 20, 20, 11, 10, 10, 2, 1]

In [192]:
l = [10, 20, 30, 10, 20, 30, 1, 2, 55, 11]
print(list(sorted(l))) # 이렇게 해도 역정렬이 된다. 다만, print를 해야 한다.
print(l)                #원본을 건드리지 않아 메서드보다 많이 사용한다.

[1, 2, 10, 10, 11, 20, 20, 30, 30, 55]
[10, 20, 30, 10, 20, 30, 1, 2, 55, 11]

In [190]:
l = [10, 20, 30, 10, 20, 30, 1, 2, 55, 11]
print(list(sorted(l, reverse = True)))  # 내림차순

[55, 30, 30, 20, 20, 11, 10, 10, 2, 1]

In [199]:
l = [[1,10, 'leehojun'],
     [20, 30, 'hojun'],
     [10, 20, 'wemiv'],
     [1, 2, 'likelion'],
     [55, 11, 'sun']]

# 1. 글자 수 대로 정령해주세요.
def 함수(x):
    return len(x[2])

print(list(sorted(l, key = 함수)))
print(list(sorted(l, key = lambda x:len(x[2]))))

# 2. 맨 앞에 위치한 숫자대로 정렬해주세요.
def 함수2(x):
    return x[0]
print(list(sorted(l)))
print(list(sorted(l, key = 함수2)))
print(list(sorted(l, key = lambda x:x[0])))

# 3. 중앙에 위취한 값대로 정렬해주세요.
def 함수3(x):
    return x[1]
print(list(sorted(l, key = 함수3)))
print(list(sorted(l, key = lambda x:x[1])))

[[55, 11, 'sun'], [20, 30, 'hojun'], [10, 20, 'wemiv'], [1, 10, 'leehojun'], [1, 2, 'likelion']]
[[55, 11, 'sun'], [20, 30, 'hojun'], [10, 20, 'wemiv'], [1, 10, 'leehojun'], [1, 2, 'likelion']]
[[1, 2, 'likelion'], [1, 10, 'leehojun'], [10, 20, 'wemiv'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 10, 'leehojun'], [1, 2, 'likelion'], [10, 20, 'wemiv'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 10, 'leehojun'], [1, 2, 'likelion'], [10, 20, 'wemiv'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 2, 'likelion'], [1, 10, 'leehojun'], [55, 11, 'sun'], [10, 20, 'wemiv'], [20, 30, 'hojun']]
[[1, 2, 'likelion'], [1, 10, 'leehojun'], [55, 11, 'sun'], [10, 20, 'wemiv'], [20, 30, 'hojun']]

In [202]:
l = [[1,10, 32],
     [20, 30, 11],
     [10, 20, 22],
     [1, 2, 13],
     [55, 11, 44]]

# 4. 3개의 전체 합대로 출력해주세요.
def 함수4(x):
    return sum(x)

print(list(sorted(l, key = 함수4)))
print(list(sorted(l, key = lambda x:sum(x))))
print(list(sorted(l, key = sum)))

[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]
[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]
[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]