#1. 주석

주석(Comment) - 가장 중요하면서도 가장 많이 잊어버리는 것. 만약에 코드가 100줄 이상되는것이 주어졌는데 아무런 설명이 없다면 개인적으로도 당황스럽고, 업무적으로도 다시 그 코드를 분석하기 위해 시간이 낭비될 수 있음 

주석은 보통 코드가 어떤 내용을 포함하고 있는지. 이 문장이 의미하는 것이 무엇인지? 왜 이렇게 썼는지? 주의할점은 없는지? 추가로 알아야할 내용이 있는지? 에 대한 이정표 역할을하게 됩니다.

주석은 프로그램을 사용하는데 아무런 영향을 끼치지는 않지만 사실 많은 줄의 코드보다 더 도움이 되는건 한 줄의 주석이 될 수 있기 대문에 앞으로도 주석은 잘 사용해야합니다.

In [ ]:
#1. 주석 복습

# 1.1.1 주석 실습 - 예제 1

# 행 단위 주석입니다.

In [ ]:
"""
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
"""
print("Hello world")

Hello world

In [ ]:
'''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

# 파이썬 스타일 코드 대표 가이드라인

* 1. 들여쓰기는 공백 문자 네 개로 하자.
* 2. 한줄의 최대 글자는 79자로 한다.
* 3. 최상위 함수와 클래스 정의들은 두 줄씩 띄우자.
* 4. 파일은 UTF-8 또는 아스키(ASCII)로 인코딩하자.
* 5. 한 import 문에선 모듈 하나만 불러온다.
* 6. 소괄호나 중괄호, 대괄호 사이에 추가로 공백을 주지 말고, 쉼표 안에도 공백을 주지 말자,
* 7. 클래스 이름은 카멜케이스(CamelCase)를 따르자.
* 8. 예외명은 Error로 끝내자.
* 9. 함수 이름은 separated_by_underscores처럼 소문자와 밑줄 문자(_)를 이용해서 짓자.
* 10. 비공개인 속성이나 메서드 이름은 밑줄 문자로 시작하자(_private).

항상 이렇게 하라 라기 보다는 일종의 규약 가이드로써 향후 팀 프로젝트시 이러한 규칙들을 따른다면 오류를 줄이고, 가독성과 유지보수가 편해지기 때문에 한번 알아볼 것임

결국 사람의 시간을 가장 효율적으로 사용하기 위한 가이드라인

* 파이썬의 철학 : 인간의 시간이 컴퓨터 보다 중요하다.
* 결국 중요한건 일관성이다.

##1.1 블럭 주석

* 바로 뒤에 오는 코드를 설명하고
* 주석 내용이 다루는 코드와 동일한 들여쓰기 레벨에서 표기한다.
* 한개의 #을 달고 주석을 기록한다.

In [ ]:
# 예제 1.1
# 유저의 이름을 입력받고, 문자형이 아닌것을 주의하세요.
user_input = input("유저 이름을 입력하세요")
normalized_data = normalizednormalize_data(user_inputs)

##1.2 인라인 주석

* 코드와 같은 줄에 기록
* #을 붙인 후 내용 기록
* 코드와 적어도 두칸 이상 분리한다.

In [ ]:
# ex1.1.2

연봉_인센포함 = 초기연봉 * 1.02   # 초기연봉에 2% 상승된 것이 인센포함된 연봉(23.05.01) 변경시 수정 바람

##1.3 문서 형태 주석

* 모듈, 클래스, 함수, 메소드 등 정보를 제공하는 용도 docstring이라고 함
* 다른 주석과 달리 쌍따옴표나 따움표 3개로 구성
* 함수 바로 밑에 내용을 적는다.
* 여러줄로도 적을수 있다.

In [ ]:
#1.1.3 문서 주석 - 한줄 형태

def quicksort():
""" Quicksort를 사용하여 보다 빠르게 정렬하는 함수 """

#1.1.3 문서 주석 - 두줄 이상 형태

def salary_increase(salary, percentage, rating):
    """ 성과에 의한 연봉 변화 함수
    1 - 2등급 - 연봉 10% 상승
    3 - 4등급 - 연봉 5%  상승
    5 - 6등급 - 연봉 동결
    7 - 10등급 - 연봉 5% 삭감
    """

#2. 레이아웃

[임포트]
* import는 가장 위에 기록 한다.
* 한줄에 하나씩 쓰는것을 추천한다.

[들여쓰기]
* 들여쓰기는 4칸씩 띄어쓰기를 꼭 지킨다. - Tab을 활용해도 되지만 통일 필요 (수업때는 Tab)
* 함수의 줄 바꿈시에는 구분이 가능하도록 한다.

[탭과 스페이스]
* 탭보다는 스페이스를 사용하도록 노력하고, 섞어서 쓰지 말자

[글자 길이 / 줄 바꿈]
* 주석은 72자정도 / 최대 글자수는 79자 정도로 제한하는 것이 좋음

[빈줄 넣기]
* 일반적으로 클래스나 함수는 두줄로 분리해서 구분하기 좋게 한다.
* 그러나 클래스나 함수 안에 함수는 논리적으로 구분이 되는 부분에서 한줄을 띄워도 좋다.

[연산하는 경우]
* 연산을 많이 할 경우에는 옆으로 글을 이어나가는 것보다는 밑으로 추가한다.)

In [ ]:
# 2.1 import 예시

# 좋은 예
import os
import pandas as pd
import sklearn

# 안좋은 예시

import os, sys, pandas
from pandas import * # wildcard 사용은 소스의 모호함을 증가시켜 오류를 발생시킬수도 있음

In [ ]:
# 2.2 띄어쓰기 / # 2.3 탭과 스페이스

# 기본 띄어쓰기 - 둘다 실행은 된다.
for i in range(1, 10):
  print(i) # Tab

for i in range(1, 10):
    print(i) # 띄어쓰기 4칸 

# 파라미터가 여러가지 인 경우
# 좋은 예시
sample_def(var1, var2
          var3, var4) #일반적인 툴에서는 다음과 같이 enter를 사용하는 경우 띄어지게 된다.

# 안좋은 예시 - 가독성이 떨어진다.
sample_def(var1, var2
  var3, var4)

In [ ]:
# 2.6 연산하는 경우
# 좋은 예시
sum_variable = (val1
                + val2
                +_val3
                + val4
)

#3. 파이썬 스타일 작명

[상수]
* 이름이 길어지면 underbar(_)로 구분한다.
* 대문자로 작성

[패키지/모듈]
* 가급적 짧고 알기 쉽게 만든다.
* 패키지나 모듈 이름은 모두 소문자로만 작성한다.
* 모듈 이름이 만약 길어지면 underbar(_)로 구분한다.
* 패키지 이름에는 underbar사용 자제

[클래스]
* 클래스 이름은 CamelCase(단어 첫부분은 대문자)로 작성

[메소드] 
* 메소드 이름은 snake_tail방식으로 작성하고 단어별 underbar(_)로 구분한다.
* 인스턴스 메소드의 첫번째인자는 항상 self로 시작한다.
* 클래스 메소드의 첫번째 인자는 항상 cls로 시작한다.

In [ ]:
# 왠만하면 한글을 사랑해도 한글 변수명은 자제

# 3.1 상수/함수/변수

#[상수] 모두 대문자
PI = 3.14
LONG_CONSTANT_EXAMPLE = 12345678

#[함수/변수]
#snake case
my_age = 43

(good) def python_function_name(arg1, arg2):
(bad) def PythonFunctionName(arg1, arg2):

# 3.2 모듈 (snake case 허용)
# 패키지 이름
(good) import mypackage
(good) import modulename
(bad) import ModuleName
(bad) import module_name



# 3.3 클래스(Pascal case)
# Class 예
class MyClass:
    pass

# 3.4 메소드
class MyClass:
  '''인스턴스 메소드 메소드'''
  def instance_method(self, var1, var2):
    pass

  '''클래스 메소드'''
  def class_method(cls, var1, var2):
    pass

#4. 공백문자

* 할당을 할 경우에는 공백 하나만 사용
* 앞 뒤로 공백 한개씩만 사용하자
* 괄호와 콜론 앞/뒤로는 공백을 주지 말자

In [ ]:
# 4.1 할당

# Good

x = 1
y = 2
long_variable = 3

# Bad

x             = 1
y             = 2
long_variable = 3

# 4.2 앞 뒤로 공백 1개씩

# Good

i = i + 1
submitted += 1
x = x*2 - 1

# Bad 

i=i+1
submitted +=1
x = x * 2 - 1

# 4.3 괄호, 콜론 앞/뒤로는 공백을 주지 않습니다.

# Good
router(1)
router[1:3]
server['centOs']
Class MyClass:

# bad

router (1)
router[1: 3]
server ['centos']
Class MyRouter :

# 기본 입출력

* 변수 - X = 10이라는 코드가 있을때 10을 x로 할당한다고 한다. 변수에는 숫자, 문자등 다양한 자료형태가 들어갈수 있으며, 자료형태 확인은 type함수를 통해 확인할 수 있다.
* input - input()함수로 데이터를 입력하면 자료를 입력받는 함수 - 기본으로는 문자형을 입력받는다. 
* print - print()함수로 데이터를 출력하는 함수

In [ ]:
#01-1. 본인 이름 출력 하기 - Input 문자형(기본)

print(f'본인 이름을 입력 하세요')
my_name = input()
print(f"제 이름은 {my_name} 입니다.")

본인 이름을 입력 하세요
김진환
제 이름은 김진환 입니다.

In [ ]:
#01-2. 두 숫자의 합 구하기 - Input 숫자형

print(f"두 숫자의 합을 구하기 입니다.")
sum_1 = int(input("첫번째 숫자를 입력하세요"))
sum_2 = int(input("두번째 숫자를 입력하세요"))
# input은 기본적으로 문자형을 받기 때문에 숫자형쓰고 싶으면 int, float
print(sum_1 + sum_2)

두 숫자의 합을 구하기 입니다.
첫번째 숫자를 입력하세요10
두번째 숫자를 입력하세요20
30

In [ ]:
#02-1. print 복습

# print('3. 제 이름은' ,이름 , '입니다.','제 나이는', 나이, '입니다.')
# print('3. 제 이름은 {}입니다. 제 나이는 {}입니다.'.format(이름, 나이))

name = "김진환"
age = 25
print(f"제 이름은 {name} 이고, 나이는 {age}입니다.")
print(f"제 이름은 {name} 이고 {age} 살입니다.", end="!!!\n")

제 이름은 김진환 이고, 나이는 25입니다.
제 이름은 김진환 이고 25 살입니다.!!!

In [ ]:
# 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

In [17]:
pip install openai

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openai in /usr/local/lib/python3.10/dist-packages (0.27.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from openai) (4.65.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from openai) (3.8.4)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from openai) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.3.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.9.2)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.3.1)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (4.0.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (23.1.0)

In [9]:
import os
import openai

In [ ]:
# Open AI API Key 추가

# openai.api.key = "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"

In [19]:
openai.api_key ="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" #아까 복사했던 api 주소를 " " 안에 넣습니다.
question = input("무엇을 물어볼까요?:")

completion = openai.ChatCompletion.create(
  model="gpt-3.5-turbo",
  messages=[
    {"role": "user", "content": question}
  ]
)

print(completion.choices[0].message.content)

무엇을 물어볼까요?:안녕하세요?
안녕하세요! 저는 AI 어시스턴트입니다. 궁금한 게 있으시면 무엇이든 물어보세요.

In [38]:
def chatgpt(question):
    openai.api_key ="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" #아까 복사했던 api 주소를 " " 안에 넣습니다.
    #question = input("무엇을 물어볼까요?:")

    completion = openai.ChatCompletion.create(
        model="gpt-3.5-turbo",
        messages=[
            {"role": "user", "content": question}
        ]
    )

    print(completion.choices[0].message.content)

In [39]:
chatgpt("반가워요")

저도 반가워요! 어떻게 도와드릴까요?

In [ ]:
# 기본 입출력 복습 
# 실습 
#1. () -> 변수
#2. f-string으로 작성
#3. print()문으로 출력 

# 안녕하세요 저는 ()입니다. 나이는 ()입니다.
# 저의 MBTI는 ()입니다. 제 성격은 ()입니다.
# 저의 전공은 ()이고, 관심분야는 ()입니다.
# 제가 취업하고 싶은 기업은 ()이고, 원하는 연봉은 ()원입니다.
# 마지막으로 제가 하고 싶은 말은? ()입니다.

In [40]:
name = "정진우"
age = "27"
mbti = "ENFJ"
성격 = "온순"

print(f'안녕하세요 저는 {name}입니다. 나이는 {age}입니다.')

안녕하세요 저는 정진우입니다. 나이는 27입니다.

In [42]:
# 숫자를 문자열로 바꾸기

ex1 = 52
ex1_str = str(ex1)

print(f'ex1은 {ex1}입니다.')
print(f'ex1은 {ex1_str}입니다.')

print(type(ex1))
print(type(ex1_str))

ex1은 52입니다.
ex1은 52입니다.
<class 'int'>
<class 'str'>

In [45]:
# 문자를 숫자로 바꾸기

ex2_str_int = int(ex1_str)

print(f'ex1_str은 {ex1_str}입니다.')
print(f'ex2_str_int은 {ex2_str_int}입니다.')

print(type(ex1_str))
print(type(ex2_str_int))

ex1_str은 52입니다.
ex2_str_int은 52입니다.
<class 'str'>
<class 'int'>

In [48]:
# 문자열 자르기 : split()

a = "10 20 30 40 50".split(" ")
print(a)

# 결과를 리스트로 가져오기 때문에 쉽게 데이터화 할 수 있다.

['10', '20', '30', '40', '50']

In [50]:
# 문자열과 In 연산자

print('멋쟁이' in '멋쟁이 사자처럼')
print('위니브' in '멋쟁이 사자처럼')

# 앞에 있는 단어가 뒤에 있는 문장에 있다면 True 아니라면 False를 출력

True
False

In [51]:
# 문자열과 find함수, 텍스트 마이닝 할 때 도움이 많이 됨

ex3 = '멋쟁이 사자처럼'
print(ex3.find('사자'))

# 문장 내 원하는 글자의 위치를 알려줌.

4

In [55]:
# 공백 제거
# txt, csv -> python "멋쟁이 사자처럼" -> "  멋쟁이 사자처럼"
# 데이터를 불러올 때 이런 공백이 생기는 상황이 발생한다. 이는 오류로 이어질 수 있다.

ex4 = "  안녕하세요 멋쟁이 사자처럼 입니다."
print(ex4)

# strip : 공백 제거
print(ex4.strip())
# 데이터 전처리 시 많이 사용

  안녕하세요 멋쟁이 사자처럼 입니다.
안녕하세요 멋쟁이 사자처럼 입니다.

# Random 함수의 활용

* 데이터 분석 시에 무작위 테스트를 하거나 샘플을 뽑고 싶을 때 사용 -> 굉장히 많이 사용

In [56]:
# Random 함수 사용
import random

In [58]:
# 1. random 함수의 기본 사용

random.random()

0.16725576791783492

In [59]:
# 어디서부터 어디까지의 숫자 뽑아줘 (실수를 뽑아줌)

random.uniform(1, 10) 

# 1과 10 사이의 무작위 실수를 뽑아준다.

5.6130951002638465

In [60]:
# 어디서부터 어디까지의 숫자 뽑아줘 (정수를 뽑아줌)

random.randint(1, 10)

# 1과 10 사이의 무작위 정수를 뽑아준다.

9

In [63]:
# 짝수만 뽑아줘 / 홀수만 뽑아줘
# randrange

random.randrange(0, 101, 2) #  짝수

28

In [64]:
random.randrange(1, 101, 2) #  홀수

11

In [61]:
# Choice
random.choice('Hello')

# 텍스트 중 랜덤한 단어를 선택해서 뽑아줌.

'e'

In [66]:
random.choice(['바나나', '사과', '오렌지'])

'바나나'

In [67]:
# 랜덤하게 여러 원소를 출력합니다.
random.sample([1,2,3,4,5],3)

[1, 2, 4]

In [69]:
random.sample(range(1,5),3)

[4, 3, 2]

In [72]:
# 실습 1. 로또번호 1~45번까지 6개 번호 추출해보기

random.sample(range(1,46),6)

[6, 42, 24, 28, 31, 14]

In [74]:
# shuffle 함수

items = [1,2,3,4,5]
random.shuffle(items)
print(items)

# shuffle은 순서를 섞는다.

[3, 5, 1, 2, 4]

In [79]:
# seed 고정, random으로 뽑은 값을 고정해줌.

random.seed(501)
lotto = random.sample(range(1,46),6)
print(f'로또번호는 {lotto}입니다.')

로또번호는 [41, 19, 45, 23, 16, 21]입니다.

In [89]:
# 실습 2. 보드게임 주사위 2개 던지기 -> 난수 추첨
# 랜덤으로 1부터 6까지 숫자를 생성해서
# die1, die2 합을 출력하는 프로그램을 만드세요

die1 = random.randrange(1,7)
die2 = random.randrange(1,7)
print(die1 + die2)

5

In [91]:
# 실습 3. 오늘의 점심 메뉴 
# 리스트로 가져와서 오늘 먹을 점심메뉴를 선택하는 랜덤 프로그램을 만들어 보세요.

lunch_menu = random.choice(["된장찌개", "제육볶음", "김치볶음밥", "불고기샌드위치", "카레라이스"])
print(lunch_menu)

제육볶음

In [93]:
# 실습 4. 가위바위보
# 컴퓨터는 랜덤으로 바뀌어야 함
# 나는 input()
# 승패는 상관없이 서로 무엇을 냈는지 출력
# 컴퓨터는 {}
# 나는 {}

computer = ['가위', '바위', '보']
computer_select = random.choice(computer)
user = input('가위, 바위, 보 중 하나를 내세요. : ')

print(f'컴퓨터는 {computer_select}를 냈습니다.')
print(f'나는 {user}을 냈습니다.')

가위, 바위, 보 중 하나를 내세요. : 보
컴퓨터는 보를 냈습니다.
나는 보을 냈습니다.

# 시간 함수

In [94]:
# time 함수

import time

In [95]:
time.time()
# 시스템적 시간으로 보여줌

1682908385.105109

In [97]:
time.ctime()
# 인간이 알아볼 수 있게 나타내줌
# 단, 이 시간은 미국 기준임

'Mon May  1 02:33:40 2023'

In [98]:
time.localtime()

time.struct_time(tm_year=2023, tm_mon=5, tm_mday=1, tm_hour=2, tm_min=33, tm_sec=50, tm_wday=0, tm_yday=121, tm_isdst=0)

In [99]:
import datetime

In [100]:
from datetime import datetime

In [105]:
# 현재 날짜
now = datetime.now()
print(f'현재 날짜는 {now.date()}')

현재 날짜는 2023-05-01

In [106]:
# 현재 시간
print(f'현재 시간은 {now.time()}')

현재 시간은 02:37:24.099026

In [108]:
# 현재 연도, year은 괄호를 넣지 않음.
print(f'현재 연도는 {now.year}')

현재 연도는 2023

In [109]:
# 현재 월
print(f'현재 연도는 {now.month}')

현재 연도는 5

In [110]:
# 현재 일
print(f'현재 연도는 {now.day}')
# 그 외 시 : hour / 분 : minute / 초 : second / 요일 : weekend

현재 연도는 1

In [116]:
# 미국 시간을 한국 시간으로 바꾸는 방법
# colab에서는 미국 시간을 사용해 바꿔주어야 하고 로컬에서는 보통
# 지역 시간을 쓰기 때문에 바꿀 필요는 없다.

import pytz

datetime.now(pytz.timezone('UTC'))

datetime.datetime(2023, 5, 1, 2, 42, 58, 863446, tzinfo=<UTC>)

In [117]:
datetime.now(pytz.timezone('Asia/Seoul'))

datetime.datetime(2023, 5, 1, 11, 43, 17, 397239, tzinfo=<DstTzInfo 'Asia/Seoul' KST+9:00:00 STD>)

In [118]:
from datetime import timedelta, timezone
datetime.now(timezone(timedelta(hours=9)))

# timedelta(hours=9)는 현재 입력된 시간에 9시간을 추가한 시간을 보여준다.

datetime.datetime(2023, 5, 1, 11, 45, 38, 2006, tzinfo=datetime.timezone(datetime.timedelta(seconds=32400)))

In [119]:
from datetime import datetime
from datetime import timedelta, timezone


now = datetime.now(timezone(timedelta(hours=9)))

print("현재 : ", now)
print("현재 날짜 : ", now.date())
print("현재 시간 : ", now.time())
print("timestamp : ", now.timestamp())
print("년 : ", now.year)
print("월 : ", now.month)
print("일 : ", now.day)
print("시 : ", now.hour)
print("분 : ", now.minute)
print("초 : ", now.second)
print("마이크로초 : ", now.microsecond)
print("요일 : ", now.weekday())
print("문자열 변환 : ", now.strftime('%Y-%m-%d %H:%M:%S'))

현재 :  2023-05-01 11:53:40.119074+09:00
현재 날짜 :  2023-05-01
현재 시간 :  11:53:40.119074
timestamp :  1682909620.119074
년 :  2023
월 :  5
일 :  1
시 :  11
분 :  53
초 :  40
마이크로초 :  119074
요일 :  0
문자열 변환 :  2023-05-01 11:53:40

# 파이썬 멈추기

In [ ]:
import time     # sleep 함수 사용

In [120]:
print('-' * 30)
now = datetime.now(timezone(timedelta(hours=9)))
print(now.strftime('%H:%M:%S')) # 현재 시간 출력

time.sleep(5) # 5 초 딜레이

now = datetime.now(timezone(timedelta(hours=9)))
print(now.strftime('%H:%M:%S'))

time.sleep(10) # 10 초 딜레이

print(datetime.now().strftime('%H:%M:%S'))

------------------------------
11:53:52
11:53:57
02:54:07

# 파이썬 프로그램 시간 측정

In [121]:
from time import process_time
start = time.time() # 측정 시작

end = time.time()
print('프로그램을 수행하는데', end - start, '초가 걸렸습니다.')

프로그램을 수행하는데 2.7418136596679688e-05 초가 걸렸습니다.

In [ ]:
from time import process_time

# 시간 측정

start = time.time() # 측정 시작
print("★ 구구단을 출력합니다.\n")
for x in range(2, 10):
    print("------- [" + str(x) + "단] -------")
    for y in range(1, 10):
        print(x, "X", y, "=", x*y)
print("---------------------")
end = time.time() 
print('프로그램을 수행하는데', end - start, '초가 걸렸습니다.')

In [ ]:
# 프로세스 시간 측정

start = process_time()
print("★ 구구단을 출력합니다.\n")
for x in range(2, 10):
    print("------- [" + str(x) + "단] -------")
    for y in range(1, 10):
        print(x, "X", y, "=", x*y)
print("---------------------")
end = process_time()
print('프로그램을 수행하는데', end - start, '초가 걸렸습니다.')

# 자료구조

In [125]:
# 1차원 리스트

a = [1000000, 2, 1, 3]
print(type(a))

<class 'list'>

In [126]:
b = list('leehojun')
print(type(b))

# 대괄호를 쓰거나 list()를 사용하여 list를 만들 수 있다.

<class 'list'>

In [127]:
# 2차원 리스트 : 대괄호 2개인 리스트, 행열 등의 데이터를 작업할 때 주로 사용

c = [[2]]
c

[[2]]

In [128]:
a = [[1, 2, 3],
     [11, 22, 33],
     [10, 20, 30]
    ]
print(a)

[[1, 2, 3], [11, 22, 33], [10, 20, 30]]

In [131]:
a[0], a[0][0]

([1, 2, 3], 1)

In [135]:
# 슬라이싱

a = [[1, 2, 3],
     [11, 22, 33],
     ['leehojun', 20, 30]]

a[2][0][:3]

'lee'

## 1.1 리스트

In [137]:
#1.1.1 리스트 생성

List_01 = []
print(f"첫번째 리스트 예제의 값은 : {List_01}")

List_02 = list()
print(f"두번째 리스트 예제의 값은 : {List_02}")

첫번째 리스트 예제의 값은 : []
두번째 리스트 예제의 값은 : []

In [138]:
# 1.1.2 리스트 생성 - 여러 형태의 리스트

# 단일 자료형 리스트
List_03 = [10, 55, 20, 75]
print("세번째 리스트 예제의 값은 : " , List_03)

# 복합 자료형 리스트(문자, 숫자)
List_04 = [1000, 10000,'Lion', 'Weniv', 'Coding']
print("네번째 리스트 예제의 값은 : " , List_04)

# 복합 리스트 - 리스트 안에 리스트
List_05 = [1000, 10000, ['Lion', 'Weniv', 'Coding']]
print("다섯번째 리스트 예제의 값은 : " , List_05)

# 복합 자료형 리스트(3가지 이상)
List_06 = [54.42, 'not', 3, 4, False, 3.14159]
print("여섯번째 리스트 예제의 값은 : " , List_06)

세번째 리스트 예제의 값은 :  [10, 55, 20, 75]
네번째 리스트 예제의 값은 :  [1000, 10000, 'Lion', 'Weniv', 'Coding']
다섯번째 리스트 예제의 값은 :  [1000, 10000, ['Lion', 'Weniv', 'Coding']]
여섯번째 리스트 예제의 값은 :  [54.42, 'not', 3, 4, False, 3.14159]

In [143]:
# 1.1.3 리스트 생성 - 이차원 리스트

kor = [10, 20, 30]
math = [30, 40, 50]
eng = [60, 70, 80]

score_all = [kor, math, eng]
print(score_all)

# 1차원 리스트를 모아 2차원 리스트로 만들 수 있다.

[[10, 20, 30], [30, 40, 50], [60, 70, 80]]
20
50

In [141]:
# 1.1.4 리스트 생성 - range

a = list(range(10))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 1.1.2 리스트 인덱싱/슬라이싱

리스트 인덱싱과 슬라이싱은 간단하지만 사용하다보면 헷갈릴 경우가 많습니다. 보통 데이터의 구조가 2차원 이상의 구조이고, 데이터를 정제하다보면 헷갈릴 경우가 많기 때문에 복습해보면서 잘 알아둡시다!

* 리스트 인덱싱 - 휴대폰 단축번호를 생각하면 쉬움 - 1번은 어머니  2번은 아버지 3번은 선생님
* 리스트 슬라이싱 - 휴대폰 그룹을 생각하면 쉬움 - 어머니,아버지는 가족 선생님,친구1은 학교

In [142]:
# 리스트 인덱싱 예제

# 휴대폰 번호 순서
Phone_num = ['어머니', '아버지', '선생님','친구1']

# 리스트 인덱싱
print(Phone_num[0])
print(Phone_num[2])

# 리스트 슬라이싱
# 리스트 슬라이싱때 맨 마지막 숫자 +1 주의
family = Phone_num[0:2]
school = Phone_num[2:4]

print(family)
print(school)

어머니
선생님
['어머니', '아버지']
['선생님', '친구1']

In [144]:
# 2차원 리스트 인덱싱/슬라이싱

kor = [10, 20, 30]
math = [30, 40, 50]
eng = [60, 70, 80]

score_all = [kor, math, eng]

print(score_all[0][1]) # 국어 점수 / 2번째 학생
print(score_all[1][2]) # 수학 점수 / 3번째 학생

20
50

In [146]:
# 리스트 갱신하기
# 휴대폰 번호 순서
Phone_num = ['어머니', '아버지', '선생님','친구1']

Phone_num[3] = '이모'   # 친구1이 이모로 변동됨

print(Phone_num)

['어머니', '아버지', '선생님', '이모']

In [ ]:
# 결측값을 대체

# 숫자열
['어머니', '아버지', '선생님', ' ', '.', '.']

# 문자열
['어머니', '아버지', '선생님', '', '', '']

In [147]:
# 리스트 갯수 파악하기

len(Phone_num)

4

### 1.1.3 리스트 함수

주로 사용하는 리스트 함수에 대해 복습해봅시다.

[데이터 추가 함수]
* append() 리스트 맨 마지막에 인덱스 추가
* extend() 기존 리스트에 새로운 리스트를 합침
* insert() 특정 위치에 값을 추가

[데이터 제거 함수]
* pop() 리스트 끝에서 부터 하나씩 꺼내어 반환한 뒤 삭제
* remove() 리스트에 있는 특정값을 제거
* del - 특정 인덱스 위치에 있는 값을 제거
* clear() 리스트 안에 있는 원소를 다 비우는 함수

[데이터 정렬 함수]
* sort() 오름차순으로 정렬(내림차순의 경우 reverse = True)
* reverse() 값의 순서를 거꾸로 뒤집어서 사용

[데이터 중복 확인]
* count("특정값") 특정값이 몇개나 중복으로 있는지 체크 가능

[데이터 위치 확인]
* index()

In [148]:
# 리스트 함수 실습
l = [1, 2, 3]
dir(l) # dir을 통해 사용할 수 있는 함수(메서드) 확인 가능

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [151]:
# 버스 승객 탑승

# 리스트 함수를 사용해서 실습할 것
# 상황 1. 버스에 버스기사 아저씨가 탐승해서 운전가능

bus = []

# 버스기사 아저씨가 탐승르 하려면

bus.append('버스기사아저씨')
print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')

버스에는 누가 타고 있을까요? ['버스기사아저씨']가 타고 있어요

In [152]:
# 상황 2. 버스에 철수가 탑승을 했다.

bus.append('철수')
print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')

버스에는 누가 타고 있을까요? ['버스기사아저씨', '철수']가 타고 있어요

In [153]:
# 상황 3. 선생님이 아이 3명을 데리고 탑승했어요.
kinder = ['선생님','아이1','아이2','아이3']
bus.extend(kinder)

print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')
print(f'몇명이나 타고 있을까요? {len(bus)}명이 타고 있어요')

버스에는 누가 타고 있을까요? ['버스기사아저씨', '철수', '선생님', '아이1', '아이2', '아이3']가 타고 있어요
몇명이나 타고 있을까요? 6명이 타고 있어요

In [155]:
# 상황 4. 노인 한분이 탑승하셨어요.
# insert()

bus.insert(1, '노인')
print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')
print(f'몇명이나 타고 있을까요? {len(bus)}명이 타고 있어요')

버스에는 누가 타고 있을까요? ['버스기사아저씨', '노인', '노인', '철수', '선생님', '아이1', '아이2', '아이3']가 타고 있어요
몇명이나 타고 있을까요? 8명이 타고 있어요

In [156]:
# 아이의 위치 확인
kid1 = bus.index('아이1')
print(kid1)

5

In [157]:
# 노인분이 내리고자 할 때
bus.remove('철수')

print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')
print(f'몇명이나 타고 있을까요? {len(bus)}명이 타고 있어요')

버스에는 누가 타고 있을까요? ['버스기사아저씨', '노인', '노인', '선생님', '아이1', '아이2', '아이3']가 타고 있어요
몇명이나 타고 있을까요? 7명이 타고 있어요

In [159]:
# 상황 6. 선생님이 아이들을 한명 한명 인원 체크를 하며 내리려고 하고 있어요.
# 인원체크 후에 선생님이 마지막으로 내릴거에요

bus.pop()

print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')

버스에는 누가 타고 있을까요? ['버스기사아저씨', '노인', '노인', '선생님', '아이1']가 타고 있어요

In [161]:
bus.clear()
print(bus)

[]

###1.1.4 리스트 연산

[리스트 연산]

* 리스트 덧셈
* 리스트 곱셉
* in 연산

In [162]:
# 리스트 덧셈

company1 = ['멋쟁이사자처럼']
company2 = ['위니브']
company3 = ['테킷']

company_all = [company1, company2, company3]
print(company_all)

[['멋쟁이사자처럼'], ['위니브'], ['테킷']]

In [168]:
company_all_01 = company1 + company2 + company3
print(company_all_01)

['멋쟁이사자처럼', '위니브', '테킷']

In [166]:
#  리스트 곱셈

company1 * 3

['멋쟁이사자처럼', '멋쟁이사자처럼', '멋쟁이사자처럼']

In [169]:
# 리스트 내의 요소 찾기

'멋쟁이사자처럼' in company_all, '멋쟁이사자처럼' in company_all_01

(False, True)

In [ ]:
# 연습문제 1. 정수 5개를 Input으로 리스트형태로 입력받아서 평균을 내보기

# list = 1개 입력받을 때마다 추가가 되어서 5개를 받을 때는 
# 리스트 안에 값이 5개가 있어야 함.

# list_example = map(int, input().split())
# list_example
# average = sum(list_example) / len(list_example)
# print(average)

### 1.1.5 패킹과 언패킹
* 패킹과 언패킹은 일반적으로도 사용하지만 나중에 한번 더 언급하기로 하자.

In [183]:
# 패킹
t = [1, 2, 3]

# 언패킹
a, b, c = t

print(t)
print(a)
print(b)
print(c)

[1, 2, 3]
1
2
3

### 1.1.6 리스트 컴프리 핸션

In [185]:
# 기본 리스트에 값 채워넣기

li = []

for i in range(5):
    li.append(i)

print(li)

[0, 1, 2, 3, 4]

In [188]:
[i for i in range(5)]
# 대괄호를 작성해 리스트라는 것을 알려줌

[0, 1, 2, 3, 4]

In [189]:
# 1) 수식 적용

[i*10 for i in range(5)]

[0, 10, 20, 30, 40]

In [190]:
# 2) 조건문 적용
[i for i in range(5) if i % 2 == 0]

[0, 2, 4]

### 1.1.7 다양한 방식의 리스트 출력 (enumerate, zip)

In [192]:
# enumerate()함수

for i , v in enumerate(['가위', '바위', '보']):
    print(i,v)

# 출력값 앞에 0, 1, 2처럼 숫자(순서)가 붙음. 가상의 키라고 생각하면 좋음.

0 가위
1 바위
2 보

In [193]:
# zip 함수
# 리스트를 결합해서 출력할 수 있게 해줌. 손쉽게 데이터 결합이 가능(key, value)

alist = ['가위', '바위', '보']
blist = ['가위', '바위', '보']

for a, b in zip(alist, blist):
    print(a, b)

가위 가위
바위 바위
보 보

In [194]:
 for x, y in zip(range(10), range(10)):
     print(x, y)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9

In [195]:
dict_num = { x:y for x, y in zip(range(10),range(10))}
{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}

In [196]:
#enumerate & zip 함수

alist = ['가위', '바위', '보']
blist = ['보', '가위', '바위']
for i, (a, b) in enumerate((zip(alist, blist))):
  print(i, a, b)

0 가위 보
1 바위 가위
2 보 바위

## 2.1 튜플

In [197]:
tuple_sample = ()

In [198]:
type(tuple_sample)

tuple

In [199]:
# 튜플 생성 예제

cust_all = ('뉴진스', '블랙핑크', '아이즈원')
print(cust_all)

('뉴진스', '블랙핑크', '아이즈원')

In [200]:
# 값을 하나만 만들 시 뒤에 컵마(,)를 꼭 해줘야 한다.

cust_all_2 = ("뉴진스",)
print(cust_all_2)

('뉴진스',)

In [201]:
len(cust_all)

3

In [202]:
# 튜플의 값은 수정이 불가능하다.

cust_all[1] = "SG워너비"

TypeError: ignored

In [203]:
# 튜플 인덱싱

print(cust_all[0])

뉴진스

In [204]:
print(cust_all[0:2])

('뉴진스', '블랙핑크')

In [207]:
# 튜플 함수 (사용할 수 있는 함수는 제한적)

a = (1,1,3,1,5)
print(a)
print(a.index(3))   # 3의 위치는 어디인지 묻는 함수
print(a.count(1))   # 튜플의 요소 중 1의 갯수가 몇개인지 묻는 함수

(1, 1, 3, 1, 5)
2
3

In [209]:
# 튜플 연산

c = (6,7,8,9,10)

print('a + c', a + c)
print('c * 3', c * 3)

a + c (1, 1, 3, 1, 5, 6, 7, 8, 9, 10)
c * 3 (6, 7, 8, 9, 10, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10)

In [212]:
t = ('a', 'b', 'c', 'd')
(x1, x2, x3, x4) = t
print(t, type(t))
print(x1, type(x1))
print(x2, type(x2))
print(x3, type(x3))
print(x4, type(x4))

('a', 'b', 'c', 'd') <class 'tuple'>
a <class 'str'>
b <class 'str'>
c <class 'str'>
d <class 'str'>

In [213]:
# 괄호를 치지 않아도 튜플로 인식을 한다.

t2 = 1,2,3
print(t2, type(t2))

(1, 2, 3) <class 'tuple'>

## 3.1 딕셔너리

In [ ]:
# 김진환 : 데이터 분석
# Key    : Value

In [215]:
# 딕셔너리 기초

x = {}
y = dict()

print(x, type(x))
print(y, type(y))

{} <class 'dict'>
{} <class 'dict'>

In [217]:
a = {'name' : 'Kim', 'phone' : '010-8078-2069'}
print(a, type(a))

{'name': 'Kim', 'phone': '010-8078-2069'} <class 'dict'>

In [ ]:
b = {0: 'Hello Python'}
c = {'arr' : [1,2,3,4]}
d = {
    'Name' : 'Nicename',
    'City' : 'Seoul',
    'Age'  : 33,
    'Grade' : 'A',
    'Status' : True
}

In [219]:
# 딕셔너리에 값 추가

a = {'name' : 'Kim', 'phone' : '010-8078-2069'}

a['address'] = 'Seoul'  # 대괄호 Key값과 Value값을 넣어주면 딕셔너리 값이 추가가 된다.

print(a)

{'name': 'Kim', 'phone': '010-8078-2069', 'address': 'Seoul'}

In [222]:
# 딕셔너리의 개수

print(a, len(a))    # len()함수를 통해 개수를 셈

{'name': 'Kim', 'phone': '010-8078-2069', 'address': 'Seoul'} 3

### 3.1.2 딕셔너리 함수

In [226]:
# Key 값만 가져오는 함수 => .keys()
print(f'key 값은 {a.keys()} 입니다.')

# Value 값만 가져오는 함수 => .values()
print(f'key 값은 {a.values()} 입니다.')

# Key, Value 전체를 가져오는 함수 => .items()
print(f'key 값은 {a.items()} 입니다.')

key 값은 dict_keys(['name', 'phone', 'address']) 입니다.
key 값은 dict_values(['Kim', '010-8078-2069', 'Seoul']) 입니다.
key 값은 dict_items([('name', 'Kim'), ('phone', '010-8078-2069'), ('address', 'Seoul')]) 입니다.

In [227]:
'name' in a.keys()

True

In [229]:
'Kim' in a.values()

# in은 key 값이던 value 값이던 다 가져올 수 있다.

True

In [ ]:
# 값 삭제
# key 값을 없애면 value 값도 같이 없어짐.

del a['name']
print(a)

## 4.세트(set)

In [232]:
# 세트 사용

empty_set = set()
print(empty_set, type(empty_set))

set() <class 'set'>

In [233]:
# 세트에 값 추가하기

python_set = set(['판다스', '넘파이'])
print(python_set)

# 중괄호는 맞지만, 딕셔너리와는 다르게 key와 value로 묶어있지 않다.

{'넘파이', '판다스'}

In [237]:
# 문자열이 알파벳 하나하나로 분배된다.

test_set = set('python')
print(test_set)

{'p', 'n', 'o', 't', 'h', 'y'}

In [238]:
# 세트 생성

Set_1 = {1,2,3}
print(Set_1)

# 요소 추가
Set_1.add(4)
print(Set_1)

# 여러자료 추가
Set_1.update([5,6,7,8,9,10])
print(Set_1)

# 요소 제거 - 특정 순서
Set_1.remove(1)
print(Set_1)

# 요소 제거 - 특정 값 삭제
Set_1.discard(10)
print(Set_1)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 3, 4, 5, 6, 7, 8, 9}

In [239]:
# 세트 연산

s1 = set(['파이썬', 'SAS', 'R', 'SQL'])
s2 = set(['파이썬', '파이토치', '텐서플로', 'SQL'])

print(s1.union(s2))

# 세트는 중복을 허락하지 않아 중복되지 않게 전체가 합쳐져서 나온다.

{'SQL', '텐서플로', '파이썬', 'R', 'SAS', '파이토치'}

In [240]:
# 중복된 값만 출력됨.

print(s1.intersection(s2))

{'파이썬', 'SQL'}

In [242]:
# 중복되지 않는 곂치지 않는 값만 출력됨.

print(s1.difference(s2))

{'SAS', 'R'}

In [2]:
# Set -> LIST

s1 = set(["파이썬", "SAS", "R", "SQL"])

s1_list = list(s1)

print(s1, type(s1))
print(s1_list,type(s1_list))

{'SAS', '파이썬', 'SQL', 'R'} <class 'set'>
['SAS', '파이썬', 'SQL', 'R'] <class 'list'>

In [3]:
s1_list_tuple = tuple(s1_list)
print(s1_list_tuple, type(s1_list_tuple))

('SAS', '파이썬', 'SQL', 'R') <class 'tuple'>

In [4]:
s1_list_tuple_set = set(s1_list_tuple)
print(s1_list_tuple_set, type(s1_list_tuple_set))

{'SAS', '파이썬', 'SQL', 'R'} <class 'set'>

# 조건문

In [ ]:
# 1000만원 이상 10번 이상 방문 시 VIP
# 200만원 이상 5번 이상 방문 시 Gold
# 50만원 이상 3번 이상 방문 시 Silver
# 10만원 이상 normal

In [ ]:
if 금액 >= 1000만원 and 방문횟수 >= 10번:
    print("VIP입니다.")
elif 금액 >= 200만원 and 방문횟수 >= 5번:
    print("Gold")
elif 금액 >= 50만원 and 방문횟수 >= 3번:
    print("Silver")
elif 금액 >= 10만원:
    print('normal')
else:
    print('기타')

# and 구문을 짤 때는 주의할 것
# 조건이 2개 이상일 때는 주의할 것
# 좀 더 고민을 깊게 해야 함.
# else가 편리하긴 하지만, 예상치 못한 상황에서도 가능하게 될 수도 있음.

## 1.1 조건문을 만들때 주의사항

* 어떤 조건을 설정할것인가?
* 어떤 예외가 발생할것인가?(테스트, 검증)
* (조건문이 작성된 뒤에는) 최소 5~10번정도는 테스트 해봐라

## 1.2 조건문 복습

조건문은 다음과 같이 복습하려고 합니다.

1. 단일 조건문
2. If - else 조건문
3. If - elif - else 조건문
4. 다중 중첩 조건문
5. input과 함께 사용하는 조건문

[기억해야할것]

1. if 뒤에는 참과 거짓을 판단하는 조건이 와야함
2. 조건문이 끝나면 반드시 콜론으로 끝나야함
3. if 다음 문장은 들여쓰기를 사용해야함
4. if 조건에 부합하지 않으면 elif나 else를 사용한다. 보통 조건에 모두 부합하지 않을때 else를 사용한다.

[연산자]

* x < x가 작다
* x > x가 크다
* x == y 같다
* x != y 다르다
* x >= y 크거나 같다
* x <= y 작거나 같다

[논리연산자]
2개이상의 조건을 사용하고 싶을때 사용

* and
* or
* not

In [8]:
# if문 예제

x = 2
if x > 1 and x < 10:    # 2가지 조건이 모두 충족할 경우
    print('True')

True

In [10]:
# False일 경우에는 애초에 print가 되지 않고 True일 경우에는 print까지 가게 된다.

if False:
    print('True')

if True:
    print('True')

True

In [11]:
# 위의 if문은 참이기 때문에 hello가 출력
# if 다음에는 조건이 와야 함. 근데 조건이 True 즉, 참으로 왔고
# if문은 조건이 참이면 if문 안에 있는 문장을 실행하기 때문에 print가 실행되어
# hello가 출력된 것.

if True:
    print('hello')

print('one')    # if문과 상관없음

# 아래의 if문은 거짓이기 때문에 아무것도 출력되지 않음
# 조건에 False 즉, 거짓이 왔기 때문에 실행을 하지 않아서 출력이 되지 않음.

if False:
    print('world')

print('two')    # if문과 상관없음

hello
one
two

In [12]:
x = 10

if x > 5:
    print('hello')
print('end')

if x != 5:
    print('hello')

hello
end
hello

In [16]:
if 1:   # 1은 True이다.
    print('hello')
print('end')

hello
end

In [14]:
if 0:   # 0은 False이다.
    print('hello')
print('end')

end

In [15]:
if -1:  # -1은 True이다.
    print('hello')
print('end')

hello
end

In [17]:
#공백이 있는 문자열, True로 판단한다.
if  ' ':
    print('hello')
print('end')

hello
end

In [18]:
#공백이 없는 문자열, False로 판단한다.
if '':
    print('hello')
print('end')

end

In [19]:
if not '':  # not은 부정을 나타내고 공백은 False이므로 최종적으로 True가 된다.
    print('hello')
print('end')

hello
end

In [20]:
if not None: #None은 False와 같은의미라고 생각하시면 됩니다.
    print('hello')
print('end')

hello
end

In [21]:
if not None: 
    print('hello')
print('end')

hello
end

In [22]:
if None: 
    print('hello')
print('end')

end

In [23]:
# if, else 문

x = int(input('비교할 수를 입력하세요 : '))
y = int(input('비교할 수를 입력하세요 : '))

if x > y:
    print("x가 y보다 큽니다.")
else:
    print('x가 y보다 작거나 같습니다.')

비교할 수를 입력하세요 : 3
비교할 수를 입력하세요 : 5
x가 y보다 작거나 같습니다.

In [ ]:
# if, elif, else

if 조건문:
    수행문장1
elif 조건문:
    수행문장2
else:
    수행문장3

In [24]:
if x > y:
    print("x가 y보다 큽니다.")
elif x < y:
    print('x가 y보다 작습니다.')
else:
    print('같습니다.')

# 1) 먼저 x > y가 실행되고 False라 판단되어 다음으로 넘어간다. (x:3, y:5임)
# 2) x < y가 판단되고 True라 판단되어 수행문장이 실행된다.
# 3) if문이 종료되어 else는 실행되지 않는다.

x가 y보다 작습니다.

In [25]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
elif score >= 80:
    print('mom : i\'m happy!')
    money += 100000
elif score >= 70 and score < 80:
    print('mom : i\'m so...!')
    money += 10000
elif score >= 60 and score < 70:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
100000

In [26]:
# 중첩 조건문

#if를 중첩해서 사용하기
score = 98

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
    if score > 95:
        print('hello world')
        if score > 97:
            print('hello!!!')
elif score >= 80:
    print('mom : i\'m happy!')
    money += 100000

mom : i'm so happy!
hello world
hello!!!